@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', Arial, Tahoma, sans-serif;
    font-size: 14px;
    overflow-x: hidden;
}

header {
    background-color: #000;
    color: #fff;
    height: 100px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.header {
    width: 1140px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
}

.logo-img {
    width: 60px;
    height: 60px;
    background: linear-gradient(-225deg, #503e2d, #b78a56, #0e0b08);
    border-radius: 20px 30px 20px 5px;
    border: 2px solid #8d765e;
}

.menu-opener {
    display: none;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.menu li {
    list-style: none;
}

.menu ul {
    display: flex;
    gap: 30px;
}

.menu a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    height: 100px;
    align-items: center;
    border-bottom: 5px solid transparent;
}

    .menu a:hover {
        border-bottom: 5px solid #b78a56;
        color: #ccc;
    }

/* 
MAIN ----------------------------------------------------------
*/ 

.button {
    display: inline-block;
    background-color: #b78a56;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    padding: 15px 35px;
    border-radius: 25px;
    margin-top: 30px;
}

.banner {
    height: calc(100vh - 100px);
    background-color: #333;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
}

.banner .sliders {
    width: 1000vw;
    height: 100%;
}

.banner .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);
}

.banner .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.banner h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
}

.banner h1 span {
    color: #b78a56;
}

.banner h2 {
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 5px;
}

.banner .sliders-pointers {
    width: 100vw;
    height: 20px;
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .pointer {
    width: 10px;
    height: 10px;
    border: 2px solid #b78a56;
    border-radius: 5px;
    margin: 0 3px;
    cursor: pointer;
}

.banner .pointer.active {
    background-color: #b78a56;
}

.default {
    width: 100vw;
    padding: 50px 0;
}

.dark {
    background-color: #000;
}

.default.light {
    background-color: #f7f7f7;
}

.default.light .section-title,
.default.light .section-body {
    color: #000;
}


.default.dark {
    background-color: #000;
}

.default.dark .section-title,
.default.dark .section-body {
    color: #fff;
}

.default .section-title,
.default .section-desc {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.default .section-title {
    font-size: 20px;
}

.default .section-desc {
    font-size: 10px;
    color:#888;
    margin-top: 12px;
    margin-bottom: 40px;
}

.section-body {
    margin: auto;
    max-width: 1140px;
}

.default .section-body {
    margin: auto;
    max-width: 1140px;
}

/*
ABOUT US ----------------------------------------------------------
*/

.section-aboutus {
    display: flex;
    align-items: center;
}

.section-aboutus-left {
    flex: 1;
}

.section-aboutus-left p {
    font-size: 14px;
    line-height: 25px;
}

.section-aboutus-right {
    width: 520px;
    text-align: center;
}

.section-aboutus-right img {
    width: 480px;
    box-shadow: 0 5px 10px #333;
    border-radius: 20px;
    filter: grayscale(1);
    transition: 0.5s;
}
.section-aboutus-right img:hover {
    filter: none;
}

/*
SERVICES ----------------------------------------------------------
*/

.section-services {
    display: flex;
}

.section-service {
    flex: 1;
    text-align: center;
    border-right: 1px solid #333;
    padding: 20px 40px;
}

.section-service:first-child {
    border-left: 1px solid #333;
}

.section-service h4 {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
    padding: 0 10px;
}

.section-service p {
    margin-top: 10px;
    font-size: 14px;
    color: #999;
}

/*
PROJECTS ----------------------------------------------------------
*/

.section-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-projects-filters {
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 0 25px;
    border-radius: 30px;
    display: inline-block;    
}

.section-projects-filters li{
    display: inline-block;
    padding: 15px 30px;
    text-transform: uppercase;
    font-size: 16px;
    border-left: 1px solid #ccc;
    border-bottom: 3px solid #eee;
}

    .section-projects-filters li:hover {
        border-bottom: 3px solid #b78a56;
    }   

.section-projects-filters li:first-child {
    border-left: 0;
}

.section-projects-filters a {
    color: #555;
    font-weight: 600;
}

.section-projects-photos {
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-projects-photo {
    width: 280px;
}

.section-projects-photoarea {
    margin: 10px;
    width: 260px;
    height: 160px;
}

.section-projects-photoarea img {
    width: inherit;
    height: inherit;
    border-radius: 40px 0;
}

.section-projects-photoinfo {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 40px 0;
    width: inherit;
    height: inherit;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 0 20px;
    text-align: center;
    gap: 10px;
}

.section-projects-photoinfo h5 {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

    .section-projects-photoarea:hover .section-projects-photoinfo {
        display: flex;
    }

.bg-team {
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: center;
    padding: 0;
}

.section-team-area {
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-team {
    overflow: hidden;
    max-width: 880px;
    margin: auto;
}

.section-team .sliders {
    width: 1000vw;
    height: 100%;
}

.section-team .slide {
    width: 275px;
    height: 360px;
    display: inline-block;
    background-color: #fff;
    margin-right: 20px;
    border-radius: 40px;
}

.section-team .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #000;
    padding: 40px;
}

.section-team-area .sliders-pointers {
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-team-area .pointer {
    width: 10px;
    height: 10px;
    border: 2px solid #b78a56;
    border-radius: 5px;
    margin: 0 3px;
    cursor: pointer;
}

.section-team-area .pointer.active {
    background-color: #b78a56;
}

.section-team-avatar {
    width: 150px;
    border-radius: 50%;
    box-shadow: 3px 3px 10px #777;
}

.section-team-name {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    margin-top: 30px;
}

.section-team-role {
    font-size: 14px;
    color: #555;
    margin-top: 5px;
}

.section-team-social {
    display: flex;
    margin-top: 20px;
    gap: 10px;
}

.section-team-social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: #999;
    border-radius: 13px;
}

    .section-team-social a:hover {
        background-color: #b78a56;
    }

/*
CLIENTS ----------------------------------------------------------
*/

.soft-light {
    background-color: #ddd;
}

.section-reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 750px;
    text-align: center;
}

.section-reviews-avatar {
    width: 125px;
    border-radius: 50%;
    box-shadow: 3px 3px 10px #777;
}

.section-reviews-quote {
    margin: 30px 0 20px 0;
}

.section-reviews .sliders-pointers {
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-reviews .pointer {
    width: 10px;
    height: 10px;
    border: 2px solid #b78a56;
    border-radius: 5px;
    margin: 0 3px;
    cursor: pointer;
}

.section-reviews .pointer.active {
    background-color: #b78a56;
}

/*
PARTNERS ----------------------------------------------------------
*/

.section-partners {
    display: flex;
    gap: 100px;
    justify-content: center;
    padding: 30px 0;
}

.shadow {
    box-shadow: 0 0 10px #999;
}

.shadow-inset {
    box-shadow: inset 0 0 10px #999;
}

.section-partners img {
    width: 70px;
}

/*
PRICES ----------------------------------------------------------
*/

.card-prices {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card-content {
    background-color: #fff;
    text-align: center;
    padding: 25px;
    width: 250px;
}

.plans {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 800;
    color: #333;
    margin-bottom: 10px;
}

.price {
    font-size: 24px;
    font-weight: 800;
    color: #222;
}

.month {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    color: #777;
    margin-bottom: 15px;
}

.section-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    font-size: 10px;
    font-weight: 600;
    color: #777;
}

.border {
    margin: 5px;
    width: 10px;
    height: 1px;
    background-color: #777;
}

.button-dark {
    display: inline-block;
    background-color: #222;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    padding: 13px 35px;
    border-radius: 25px;
    margin-top: 30px;
}

    .button-dark:hover {
        background-color: #b78a56;
    }

/*
PREMIUM ----------------------------------------------------------
*/

.section-premium {
    display: flex;
    margin-bottom: 50px;
}

.section-aboutus {
    display: flex;
    align-items: center;
}

.section-premium-left {
    width: 45%;
    display: flex;

}

.section-premium-left img {
    width: 300px;
    margin: auto;
}

.section-premium-right {
    flex: 1;
    display: flex;
    align-items: center;
}

.premium-features {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.premium-features img {
    width: 30px;
    height: 25px;
}

.premium-title {
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 5px;
}

.premium-text {
    color: #777;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 5px;
}

.premium-list {
    color: #777;
    text-transform: uppercase;
    font-size: 12px;
}

.premium-border {
    border-bottom: 1px solid #aaa;
}

.premium .sliders-pointers {
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.premium .pointer {
    width: 10px;
    height: 10px;
    border: 2px solid #b78a56;
    border-radius: 5px;
    margin: 0 3px;
    cursor: pointer;
}

.premium .pointer.active {
    background-color: #b78a56;
}

.premium-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*
SOME FACTS ----------------------------------------------------------
*/

.section-some-facts {
    display: flex;
}

.section-facts {
    flex: 1;
    text-align: center;
    padding: 20px 40px;
}

.section-facts h2 {
    font-size: 38px;
    color: #b78a56;
}

.border-facts {
    width: 20px;
    height: 2px;
    background-color: #999;
    border-radius: 40px;
    margin: auto;
    margin-top: 10px;
}

.section-facts h4 {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
    padding: 0 14px;
    height: 50px;
}

.section-facts p {
    margin-top: 10px;
    font-size: 14px;
    color: #999;
}

/*
SOCIAL MEDIAS ----------------------------------------------------------
*/

.section-social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    gap: 10px;
}

.section-social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 13px;
}

.section-social-share {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 50px;
}

.section-social-share p {
    text-transform: uppercase;
    color: #777;
    font-size: 14px;
    font-weight: 400;
}

.social-icon {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: 20px;
}

.social-icon p {
    font-size: 10px;
}

.social-twitter a {
    background-color: #00acee;
}

.social-linkedin a {
    background-color: #0e76a8;
}

.social-facebook a {
    background-color: #3b5998;
}   

.social-googleplus a {
    background-color: #db4a39;
}

.social-pinterest a {
    background-color: #c8232c;
}

/*
CONTACT US ----------------------------------------------------------
*/

.section-contactus {
    display: flex;
    justify-content: center;
    text-align: center;
}

.section-contactus input {
    border: none;
    border-bottom: 1px solid #777;
    background-color: #ddd;
    font-size: 20px;
    padding: 10px 0;
}

.section-contactus input::placeholder {
    font-size: 12px;
}

.section-contactus input[type=email] {
    margin-left: 30px;
}

.form-subject {
    width: 100%;
    margin: 20px 0 40px 0;
}

.form-message {
    width: 100%;
    margin: 0 0 20px 0;
}

.section-contactus input[type=submit] {
    display: inline-block;
    background-color: #b78a56;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    padding: 15px 35px;
    border-radius: 25px;
    margin-top: 30px;
    cursor: pointer;
}

/*
MAP ----------------------------------------------------------
*/

.section-map {
    background-image: url(../images/mapa.PNG);
    background-size: cover;
    background-position: center;
    filter: grayscale(1);
    padding: 30px 0;
}

.section-map-area {
    width: 100vw;
    max-width: 1140px;
    margin: auto;
}

.section-map-info {
    width: 50%;
    padding: 30px 0 20px 30px;
    background-color: #fff;
    color: #000;
}

.section-map-info-item {
    display: flex;
    align-items: center;
    color: #222;
    gap: 15px;
    margin-bottom: 10px;
}

.section-map-info-item-img {
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #999;
    padding: 15px;
}

.section-map-info-item-img img{
    width: 20px;
}

/*
FOOTER ----------------------------------------------------------
*/

.section-footer {
    display: flex;
}

.section-footer-social-media {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-footer-social-bottom {
    text-transform: uppercase;
    font-size: bold;
}

.section-footer-text {
    flex: 1;
}

.section-footer-form {
    flex: 1;
}

.section-footer {
    margin: 0;
    padding: 0;
}

.section-footer {
    padding: 20px 0;
    color: #fff;
}

.section-footer-social {
    display: flex;
    gap: 20px;
}

.section-footer-social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: #333;
    border-radius: 13px;
}

    .section-footer-social a:hover {
        background-color: #b78a56;
    }

.section-footer-text {
    font-size: 14px;
    color: #555;
    padding-right: 30px;
}

.section-footer-form {
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 35px 0;
}

.section-footer-form input {
    background-color: #333;
    border: 0;
    border-bottom: 2px solid #999;
    padding: 0 20px 10px 20px;
}

.section-footer-form input::placeholder {
    font-size: 14px;
    text-transform: uppercase;
    text-align: center; 
}

/*
RESPONSIVIDADE ----------------------------------------------------------
*/

@media (min-width:460px) and (max-width:800px) {

    .logo {
        margin-left: 40px;
    }

    .menu-opener {
        display: block;
        width: 30px;
        margin-right: 40px;
    }

    .header {
        max-width: 100%;
    }

    nav{
        display: none;
        position: absolute;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.8);
        width: 40vw;
        height: calc(100vh - 100px);
        top: 100px;
        right: 0;
    }

    .menu ul {
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        height: 100%;
    }

    .menu a{
        border: 0;
        height: 20px;
        margin-left: 50px;
    }

        .menu a:hover {
            color: #b78a56;
            font-size: bold;
            border: 0;
        }

    .banner {
        height: 100vh;
    }

    /*
    ABOUT US
    */

    .section-aboutus {
        flex-direction: column;
        text-align: center;
    }

    .section-aboutus-left {
        margin: 0 40px 30px 40px;
    }

    /*
    SERVICES
    */

    .section-services {
        flex-wrap: wrap;
    }

    .section-service {
        min-width: 50%;
        margin-bottom: 30px;
    }

    /*
    OUR PROJECTS
    */

    .section-projects {
        width: 90%;
        margin: auto;
    }

    .section-projects-filters li {
        padding: 10px 10px;
    }

    /*
    OUR TEAM
    */

    .section-team {
        max-width: 580px;
    }

    /*
    HAPPY CLIENTES
    */

    .section-reviews-text {
        margin: 0 40px;
    }

    /*
    PARTNERS
    */

    .section-partners {
        gap: 40px;
    }

    .section-partners img {
        width: 50px;
    }

    /*
    PRICE
    */

    .card-prices {
        flex-wrap: wrap;
    }

    /*
    PREMIUM
    */

    .section-body.premium{
        margin: 100px;
    }

    .section-premium {
        gap: 40px;
    }

    /*
    SOME FACTS
    */

    .section-some-facts {
        flex-wrap: wrap;
        margin: 0 100px;
    }

    /*
    MAPS
    */

    .section-map-area {
        margin: 0 40px;
    }

    /*
    FOOTER
    */

    .section-footer {
        margin: 0 40px;
    }

    .section-footer-form {
        margin-top: 50px;
        height: 200px;
    }
}

@media (max-width: 459px) {

    .shadow {
        box-shadow: none;
    }

    .shadow-inset {
        box-shadow: none;
    }

    .logo {
        margin-left: 40px;
    }

    .menu-opener {
        display: block;
        width: 30px;
        margin-right: 40px;
    }

    .header {
        max-width: 100%;
    }

    nav{
        display: none;
        position: absolute;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.8);
        width: 40vw;
        height: calc(100vh - 100px);
        top: 100px;
        right: 0;
    }

    .menu ul {
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        height: 100%;
    }

    .menu a{
        border: 0;
        height: 20px;
        margin-left: 50px;
    }

        .menu a:hover {
            color: #b78a56;
            font-size: bold;
            border: 0;
        }

    /*
    BANNER
    */    

    .banner {
        height: 100vh;
    }

    .banner h1 {
        font-size: 30px;
    }

    /*
    ABOUT US
    */

    .section-aboutus {
        flex-direction: column;
        text-align: center;
    }

    .section-aboutus-left {
        margin: 0 40px 30px 40px;
    }

    .section-aboutus-right {
        width: 100%;
    }

    .section-aboutus-right img {
        width: 250px;
    }

    /*
    SERVICES
    */

    .section-services {
        flex-wrap: wrap;
    }

    .section-service {
        min-width: 70%;
        margin-bottom: 30px;
    }

    /*
    OUR PROJECTS
    */

    .section-projects {
        width: 90%;
        margin: auto;
    }

    .section-projects-filters li {
        display: none;
    }

    .section-projects-filters a {
        font-size: 10px;
    }

    /*
    OUR TEAM
    */

    .section-team {
        max-width: 280px;
    }

    /*
    HAPPY CLIENTES
    */

    .section-reviews-text {
        margin: 0 40px;
    }

    /*
    PARTNERS
    */

    .section-partners {
        gap: 20px;
    }

    .section-partners img {
        width: 30px;
    }

    /*
    PRICE
    */

    .card-prices {
        flex-wrap: wrap;
    }

    /*
    PREMIUM
    */

    .section-body.premium{
        margin: 100px;
    }

    .section-premium {
        flex-direction: column;
        gap: 40px;
    }

    .section-premium-left img {
        margin-bottom: 20px;
        width: 150px;
    }

    /*
    SOCIAL MEDIA
    */

    .section-social-media {
        display: none;
    }

    /*
    SOME FACTS
    */

    .section-some-facts {
        flex-wrap: wrap;
        margin: 0 100px;
    }

    /*
    CONTACT US
    */

    .form-first {
        width: 100px;
    }

    .form-subject {
        width: 200px;
    }

    .form-message {
        width: 200px;
    }

    /*
    MAPS
    */

    .section-map-info {
        width: 80%;
        margin: 0 30px;
    }

    /*
    FOOTER
    */

    .section-footer {
        flex-direction: column;
        gap: 40px;
        margin: 40px;
    }

    .section-footer-social-media {
        text-align: center;
        align-items: center;
        gap: 20px;
    }

    .section-footer-text {
        text-align: center;
    }
}